<div class = "formcontainer">
<div class = "form-signin" >
	<h2>Please sign up:</h2>
	<br />
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	  <div><%= f.text_field :first_name, :autofocus => true, :placeholder => "Name" %></div>

	  <div><%= f.email_field :email, :placeholder => "Email" %></div>

	 
	  <div><%= f.password_field :password,:placeholder =>"Password" %></div>

	 
	  <div><%= f.password_field :password_confirmation, :placeholder =>"Password Confirmation"  %></div>

	  <div><%= f.text_field :number, :placeholder => "Phone Number" %></div>
	  <br />
	  <div><%= f.submit "Sign up",  :class => "bluebutton"%></div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>
</div>