
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script type="text/javascript">
    // rails uses  so I will use [[ ]] and [[= ]]
    _.templateSettings = {
        interpolate: /\[\[\=(.+?)\]\]/g,
        evaluate: /\[\[(.+?)\]\]/g
    };

</script>
<script>
	window.user = <%= raw current_user.to_json %>;
	user['reminders'] = <%= raw current_user.given_reminders.to_json %>.concat(<%= raw current_user.reminders.to_json %>).sort(function(a,b){
		return a['playtime'] - b['playtime'];
	});
	user['reminders'] = _.filter(user['reminders'], function(reminder) {
		return reminder.playtime != null;
	});

</script>
<body style="background-color:#232323;">
	<div class = "leftpanel">
		<h3 onclick = "$('.newrecord').slideToggle(600);" style = "text-align:center; cursor: pointer" class = "newreminder"> New Reminder</h3>
		<div class = "newrecord" style="color: #efefef;">
			<%= form_for @reminder, :id=>"reminder_form", :action => :create do |f| %>

			<%= f.select :_type,  options_for_select([['Select', 0],['Upload your own', 1], ['Text to speech', 2], ['Hire voice actor', 3]]), {},{:onchange => "change()", :style => "min-width:250px",:id => "choice_id"} %>
				<div id="voice-bunny-module" style="display: none;">
					<div id="search">Search</div>
						<input id="keywords" placeholder="ex: sexy, cool, etc."></input>
						<div id="vb-search" class="btn btn-primary" style="margin-top: 10px; cursor: pointer;">Submit</div>
						<div id="alternatively" style="height: 30px; padding: 5px;">
							Alternatively <a href="http://voicebunny.com/">search on VoiceBunny</a>
						</div>
					</div>
				</div>	
				<div class="record-panel clearfix" id = "recordpanel" style="width:200px;display:none; position: relative; text-align:center">
					<div><%= f.text_field :file, :style=> "width:250px", :placeholder => "Url to Audio file", :id=> "file"%></div>
<!-- 					<div style="width: 100px;  padding: 0px 3px 3px 0px">
						<canvas id="analyser" width="250" height="40" ></canvas>
						<canvas id="wavedisplay" width="250" height="40"></canvas>
					</div>
					<div class = "record" id="record" style="margin-left:50px;width: 50px;cursor:pointer;" onclick="toggleRecording(this)"c>Record</div>
					<div class ="save" id = "save" style="width: 50px; cursor: pointer" onclick="saveAudio()">Save</div> -->
				</div>
				<div id = "voice" style = "display:none">
					<div><%= f.select :gender, options_for_select([['Female', 1], ['Male', 2]]), {}, {:style => "min-width:250px"}%></div>
					<div><%= f.text_area :message, :style => "width:250px",:placeholder => "Enter Message", :size => "20x2" %></div>
				</div>
				<div id="restt" style="display: none;">
				  <div><%= f.text_field :playtime, :style => "width:250px",:placeholder => "Select time and date", :id => "playtime" %></div>

				   <div><%= f.text_field :number, :style => "width:250px", :placeholder => "Enter Number" %></div>
				    <%= f.submit "Create", :id=>"create_reminder" %>
				</div>
			<% end %>
		</div>
	</div>
	<script type="text/javascript">
		function change() {
			d = document.getElementById("choice_id").value;
			$("#restt").hide();
			if (d ==1) {
				$('#voice').hide();
				$('.record-panel.clearfix').slideToggle(400);
				$("#restt").show();
				$("#voice-bunny-module").hide();
			}
			else if (d ==2) {
				$('.record-panel.clearfix').hide()
				$('#voice').slideToggle(400);
				$("#voice-bunny-module").hide();
				$("#restt").show();
			}
			else if (d==3) {
				$("#restt").hide();
				$(".record-panel.clearfix").hide();
				$("#voice").hide();
				$("#voice-bunny-module").slideToggle(400);
			}
		}
	</script>

	<div class="rightpanel" style = "overflow:scroll">
		<div id="feed">
		</div>
		<script type="text/javascript">
		$('#recordoption').on('change', function() {
		    var val = $(this).val();
		    $('#voice').hide();
		    $('#PayPal').hide();
		    $('#' + val).show();
		});
		$('#recordoption').change(function(){
		     var selection = $(this).val();
		     alert(selection);
		    switch(selection){
		    case "voice":
		    	$("#recordpanel").show();
		    case "pick":
		    	$('#pickvoice').show()
		   break;
		    default:
		    $("#otherType").hide()
		    }
		});
		</script>



</div>
	<script type="text/template" id="vb-template">
	<div class="clearfix"></div>
    <div class="search-wrapper" id = "2">
      <a href='[[= url ]]' style='background-image: url('/play.png');' class="pull-left; display: block; float: left; height:50px; background-size: 50px 50px;">
      </a>
      <div class="top-info pull-left">
        <a href="http://http://voicebunny.com/search/samples/[[= talentID]]" class="title">See more of this voice actor</a>
        <span class="gender">[[= genderAndAge ]]</span>
      </div>
    </div>
	  <div class="pull-right">
	    <div class="price">[[= price ? price : "Price Unlisted" ]]</div>
  </script>
<script type="text/template" id="feed-item-template">
	<div class="feed-item clearfix">
		<div class="feed-icon pull-left">
			<img src = '../tick.png' >
		</div>
		<div class = "delete" style = "float:right; font-size:16px; margin-top:10px;margin-right:10px; width: 20px; height:20px; color:#C0392B">X</div>
		<div style="width:10px; height: 40px; float:left"></div>
		<div class="feed-content" style = "padding-top:15px">
			[[ if  (window.user.id == callee.id && (Date.parse(playtime)- (new Date()) > 0 ) ){ ]]

				<b>
				[[ if (caller && caller.id) { ]]<a href="/users/"+[[=caller.id]]>
					[[= caller.first_name ]]
				</a>
				[[ } else { ]]
					[[= number ]]
				[[ } ]]
				</b> has set up a reminder for you for <b>[[= pretty_date(playtime) ]]</b>

			[[ } else if (caller && window.user.id == caller.id && (Date.parse(playtime)- (new Date()) > 0)) { ]]
				<b>You</b> have set up a reminder for <b>
				[[ if (callee && callee.name) { ]]<a href="/users/"+[[= callee.id ]]>
					[[= callee.name ]]
			</a>[[ } else { ]][[= number ]][[ } ]]</b> for <b>[[= pretty_date(playtime) ]]

			[[ } else { ]]
				<b>Your</b> reminder for <b>

				[[ if (callee && callee.name) { ]]<a href="/users/"+[[= callee.id ]]>
					[[= callee.name ]]
			</a>[[ } else { ]][[= number ]][[ } ]]</b> went off [[= pretty_date(playtime) ]]
			[[ } ]]
		</div>
	</div>
</script>

<script type="text/javascript">
	$(function(){
        $("#playtime").datetimepicker({timeFormat: " hh:mm:ss"});
        _.each(user.reminders, function(reminder) {
        	el = $(FeedItemView(reminder));
        	el.find(".delete").click(function(){
        		$.ajax({
        			url: "/reminders/"+reminder.id,
        			type: "POST"
        		});
        	})
        	$("#feed").append();

        });
        $("#create_reminder").bind("click", function(e){
        	$("#playtime").val(new Date(Date.parse($("#playtime").val())));
        });
    });
</script>
	<div style="position:absolute; background-color: rgba(0,0,0,.7); display:none" id="modal">
		<div style="color: #111; position: absolute; left: 650px; top: 100px; background-color: #fff;padding: 10px" id="modal-inner">
			Loading...
		</div>
	</div>

	<script>
		$("#vb-search").click(function(e){
				var template = _.template($("#vb-template").html());
				$("#modal").show();
				$.ajax({
					url: "/search",
					data: {
						keyword: $("#keywords").val()
					},
					success: function(data) {
						console.log("success");
						$("#keywords").val("");
						$("#modal-inner").html("");
						_.each(data['samples'], function(sample){
							var html = template(sample);
							$("#modal-inner").append(html);
						});
					}
				});
			console.log("vb click"); 	
			e.preventDefault();
		});

</script>
</body>
