<!-- <div class = "recordPanel">
	<canvas id="analyser" width="300" height="100"></canvas><br>
	<canvas id="wavedisplay" width="300" height="100"></canvas><br>
	<img id="record" width="128" height="128" src="http://webaudiodemos.appspot.com/AudioRecorder/img/mic128.png" onclick="toggleRecording(this);"><br>
	<img src="http://webaudiodemos.appspot.com/AudioRecorder/img/save.svg" onclick="saveAudio();">

</div> -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script type="text/javascript">
    // rails uses  so I will use [[ ]] and [[= ]]
    _.templateSettings = {
        interpolate: /\[\[\=(.+?)\]\]/g,
        evaluate: /\[\[(.+?)\]\]/g
    };
</script>


<!-- 	<div class = "rightpanel">
		<div class = "recordPanel">
			<canvas id="analyser" width="100" height="20" float:"left"></canvas><br>
			<canvas id="wavedisplay" width="100" height="20" float:"left"></canvas><br>
			<div class = "record" id = "record" onclick = "toggleRecording(this)">Record</div>
			<img src="http://webaudiodemos.appspot.com/AudioRecorder/img/save.svg" onclick="saveAudio();">
			<div><input type = "text" name = "datetime" id = "datetime"></div>

		</div>
	</div> -->


<script>
	window.user = <%= raw current_user.to_json %>;
	user['reminders'] = <%= raw current_user.given_reminders.to_json %>.concat(<%= raw current_user.reminders.to_json %>).sort(function(a,b){
		return a['playtime'] - b['playtime'];
	});

</script>

	<div class = "leftpanel">
		<%= link_to "Edit",   edit_user_registration_path %>
	</div>

	<div class="rightpanel">
		<div id="feed">
			<div class="feed-item clearfix">
				<div class="feed-icon pull-left">
					<img src="../s1.png">
				</div>
				<div style="width:10px; height: 40px; float:left"></div>
				<div class="feed-content">
					<b>Your</b><a href="#">voice notification</a> for <b><a href="#">Victoria</a></b> went off <b> 5 minutes ago </b>. <a>Setup another one?</a>
				</div>
			</div>
			<div class="feed-item clearfix">
				<div class="feed-icon pull-left">
					<img src="../s2.png">
				</div>
				<div style="width:10px; height: 40px; float:left"></div>
				<div class="feed-content">
					<b>You</b> setup a <a href="#">voice notification</a> for <b><a href="#">Victoria</a>  10 minutes ago </b>. <a>Setup another one?</a>
				</div>
			</div>
			<div class="feed-item clearfix">
				<div class="feed-icon pull-left">
					<img src="../s2.png">
				</div>
				<div style="width:10px; height: 40px; float:left"></div>
				<div class="feed-content">
					<b><a href="#">Victoria</a></b> setup a voice notification for you for  <b> tomorrow</b>
				</div>
				<img class="pull-right" width="30px" height="30px" style="margin: -10px 20px 0px 0px;" src="http://vector.me/files/images/1/7/178682/green_checkmark_clip_art_preview.jpg"></img>
			</div>
			<div class="feed-item clearfix">
				<div class="feed-icon pull-left">
					<img src="../s1.png">
				</div>
				<div style="width:10px; height: 40px; float:left"></div>
				<div class="feed-content">
					<b>Your</b> <a href="#">voice notification</a> for <b><a href="#">Victoria</a></b> went off <b> 5 minutes ago </b>. <a href="#">Setup another one?</a>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		$('#recordoption').on('change', function() {
		    var val = $(this).val();
		    $('#voice').hide();
		    $('#PayPal').hide();
		    $('#' + val).show();
		});
		$('#recordoption').change(function(){
		     var selection = $(this).val();
		     alert(selection);
		    switch(selection){
		    case "voice":
		    	$("#recordpanel").show();
		    case "pick":
		    	$('#pickvoice').show()
		   break;
		    default:
		    $("#otherType").hide()
		    }
		});
		</script>
	<div class = "newrecord">
		<%= form_for @reminder, :action => :create do |f| %>
		<h2>Create a new reminder:</h2>
		<%= f.select :_type,  options_for_select([['Record your own', 1], ['Pick a voice', 2]]) %>
	
		<div class="record-panel clearfix" id = "recordpanel" style="position: relative;">
				<div class="pull-left" style="width: 100px; padding: 0px 3px 3px 0px">
					<canvas id="analyser" width="100" height="20"></canvas>
					<canvas id="wavedisplay" width="100" height="20"></canvas>
				</div>
				<div class = "record" id="record" style="width: 50px;cursor:pointer;" onclick="toggleRecording(this)" class="pull-left">Record</div>
				<div class ="save" style="width: 50px;cursor:pointer;" class="pull-left" onclick="saveAudio();">Save</div>
			</div>
			<%= f.select :gender, options_for_select([['Female', 1], ['male', 2]]) %>
		  <%= f.text_field :playtime, :placeholder => "Select time and date", :id => "playtime" %>
		   <%= f.text_field :number, :placeholder => "Enter Number" %>
		  <%= f.text_area :message, :placeholder => "Enter Message", :size => "20x12" %>
		  <%= f.submit "Create" %>
		<% end %>
		</div>

</div>

<script type="text/template" id="feed-item-template">
	<div class="feed-item clearfix">
		<div class="feed-icon pull-left">
		</div>
		<div style="width:10px; height: 40px; float:left"></div>
		<div class="feed-content">
			[[ if  (window.user.id == callee.id && (Date.parse(playtime)- (new Date())) >0 ){ ]]

				<b><a href="/users/"+[[=caller.id]]>[[= caller.first_name ]]</a></b> has set up a reminder for you for <b>[[= pretty_date(playtime) ]]</b>

			[[ } else if (window.user.id == caller.id && (Date.parse(playtime)- (new Date())))>0 { ]]
				<b>You</b> have set up a reminder for <b><a href="/users/"+[[= callee.id ]]>[[= callee.name ]]</a></b> for <b>[[= pretty_date(playtime) ]]

			[[ } else { ]]
				<b>Your</b> reminder for <b><a href="/users/"+[[= callee.id ]]>[[= callee.name ]]</a></b> went off [[= pretty_date(playtime) ]]
			[[ } ]]
		</div>
		<img class="pull-right" width="30px" height="30px" style="margin: -10px 20px 0px 0px;" src="[[= accepted ? 'http://vector.me/files/images/1/7/178682/green_checkmark_clip_art_preview.jpg' : 'error']]"></img>
	</div>
</script>

<script type="text/javascript">
	$(function(){
        $("#playtime").datetimepicker();
    });
	
</script>

