<!DOCTYPE html>
<html>
<head>
  <title>Voiceapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "custom" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#232323;">
	<header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
        	<ul class= "nav pull-right">
          <%= link_to image_tag("../v1.png", :size => "150x30"), root_path, :class => 'brand' %>
          <% if user_signed_in? %>

	    	<li><%= link_to "Logout", destroy_user_session_path, :method=> 'delete' %></li>
	    	<li > <%= link_to "Welcome, "+ current_user.first_name, edit_user_registration_path %> </li>
		<% else %>
			<!-- <li> <%= link_to "Sign Up", new_user_registration_path %></li> -->
			<li> <%= link_to "Login", new_user_session_path %></li></br>
		<% end %>
			</ul>
        </div>
      </nav>
    </header>


<%= yield %>
<script>
	$(function(){
		for (f in $("form")) {
			if (f.method == 'post' || f.method == 'delete') {
				$(f).prepend("<input type='hidden' name='authenticity_token' value=\""+$("meta[name='csrf-token']").html()+"\">");
			}
		}
	})
</script>
</body>
</html>
